import(igraph, RColorBrewer, dynamicTreeCut, grid, utils)

export(corLinkcommCentrality, cutDendrogramAt, edge.duplicates, getAllNestedComm, getClusterRelatedness, getCommunityCentrality, getCommunityConnectedness, getCommunityMatrix, getEdgesIn, getLinkCommunities, LinkDensities, getNestedHierarchies, getNodesIn, getOCG.clusters, graph.feature, layout.spencer.circle, linkcomm2cytoscape, newLinkCommsAt, newLinkCommsAt, numberEdgesIn, orderCommunities, plotLinkCommDend, plotLinkCommGraph, plotLinkCommMembers, plotLinkCommSummComm, plotLinkCommSumm, plotOCGraph, read.OCG, which.communities, integer.edgelist, linkcomm2clustnsee, get.community.overlaps, get.shared.nodes, meta.communities)

S3method(plot, linkcomm)
S3method(print, linkcomm)
S3method(plot, OCG)
S3method(print, OCG)

useDynLib(linkcomm, edgeDuplicates, getEdgeSimilarities, hclustLinkComm, hclustPlotOrder, getLinkDensities, cutTreeAt, getJaccards, getOCGclusters, readOCG, getEdgeSimilarities_all)

